services:
  app:
    image: ghcr.io/axlle-com/go-blog:${APP_TAG:-latest}
    restart: always
    environment:
      - APP_ROOT=/app
    env_file:
      - .env
    networks:
      - projects_network
      - traefik
    volumes:
      - ./.env:/app/.env:ro
      - ./data:/app/data
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/health" ]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
      disable: true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"

      - 'traefik.http.routers.goapp-https.rule=Host(`test.ax-box.ru`)'
      - 'traefik.http.routers.goapp-https.entrypoints=websecure'
      - 'traefik.http.routers.goapp-https.tls=true'
      - 'traefik.http.routers.goapp-https.tls.certresolver=le'

      - 'traefik.http.routers.goapp-https.middlewares=sec-headers@file,gzip@file'

      - 'traefik.http.routers.goapp-https.service=goapp'
      - 'traefik.http.services.goapp.loadbalancer.server.port=3000'
      - 'traefik.http.services.goapp.loadbalancer.healthcheck.path=/health'
      - 'traefik.http.services.goapp.loadbalancer.healthcheck.interval=10s'
      - 'traefik.http.services.goapp.loadbalancer.healthcheck.timeout=5s'

  cli:
    image: ghcr.io/axlle-com/go-blog:${CLI_TAG:-cli-latest}
    profiles: ["cli"]      # не стартует по умолчанию
    restart: "no"
    env_file:
      - .env
    networks:
      - projects_network
    volumes:
      - ./.env:/app/.env:ro
      - ./data:/app/data
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres:16.4-alpine
    restart: always
    networks: [projects_network]
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./docker/postgres/init-db.sql:/docker-entrypoint-initdb.d/init.sql:ro

  redis:
    image: redis:7.4.0-alpine
    restart: always
    networks: [projects_network]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis-data:/data

volumes:
  pg-data:
  redis-data:

networks:
  projects_network:
    external: true
    name: projects_network
  traefik:
    external: true
    name: traefik