{{ define "admin.404"}}
    {{ template "admin.header" .settings }}
    <div class="main-body">
        {{/*        {{ Breadcrumbs::render($breadcrumbsName, $model ?? null) }}*/}}
        <h5>{{ .title }}</h5>
        <div class="a-block-inner"></div>
    </div>
    {{ template "admin.footer" . }}
{{ end}}