{{ define "admin.blocks" }}
    {{ template "admin.header" . }}
    <div class="main-body">
        {{/*        {{ Breadcrumbs::render('posts') }}*/}}
        <h5>{{ .Title }}</h5>
        <div class="a-block-inner">
            {{ template "admin.blocks_inner" . }}
        </div>
    </div>
    {{ template "admin.footer" . }}
{{ end }}