{{ define "admin.footer" }}
    </div>
    <script src="/public/admin/app.js"></script>
    <script src="/public/admin/glob.js"></script>
    <script src="/public/admin/common.js"></script>
    </body>
    </html>
{{ end}}