{{ define "admin.info_block" }}
    {{ template "admin.header" . }}
    <div class="main-body">
        {{/*        {{ Breadcrumbs::render($breadcrumbsName, $model ?? null) }}*/}}
        <h5>{{ .Title }}</h5>
        <div class="a-block-inner">
            {{ template "admin.info_block_inner" . }}
        </div>
    </div>
    {{ template "admin.footer" . }}
{{ end }}