{{ define "admin.messages" }}
    {{ template "admin.header" . }}
    <div class="main-body">
        {{/*        {{ Breadcrumbs::render($breadcrumbsName, $model ?? null) }}*/}}
        <h5>{{ .Title }}</h5>
        <div class="a-block-inner">
            {{ template "admin.messages_inner" . }}
        </div>
    </div>
    {{ template "admin.footer" . }}
{{ end }}