{{ define "admin.template" }}
    {{ template "admin.header" .settings }}
    <div class="main-body">
        {{/*        {{ Breadcrumbs::render($breadcrumbsName, $model ?? null) }}*/}}
        <h5>{{ .Title }}</h5>
        <div class="a-block-inner">
            {{ template "admin.template_inner" . }}
        </div>
    </div>
    {{ template "admin.footer" . }}
{{ end }}