@font-face {
    font-family: "Heebo";
    src: url("/static/fonts/heebo-v28-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /* опционально ограничить Heebo латиницей (если уверен, что кириллицы нет) */
    /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
                     U+2000-206F, U+2074, U+20AC, U+2122; */
}

@font-face {
    font-family: "Heebo";
    src: url("/static/fonts/Heebo-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    /* unicode-range: ... (как выше, опционально) */
}

@font-face {
    font-family: "Play";
    src: url("/static/fonts/Play.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Play";
    src: url("/static/fonts/Play-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --heading-font: "Heebo", "Play", system-ui, -apple-system, "Segoe UI", Arial, "Noto Sans", sans-serif;
    --body-font: "Play", system-ui, -apple-system, "Segoe UI", Arial, "Noto Sans", sans-serif;
}

body {
    font-family: var(--body-font);
    font-weight: 400;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: 700;
}